body {
  max-width: 60%;
  padding: 2%;
  margin: auto;
  font-family: arial;
  font-size: 1rem;
  background-color: rgb(237, 233, 226);
}

.image {
  display: inline-block;
  align-self: center;
  max-width: 80%;
  margin: 0 auto;
}
